<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">COSC Blog</a></h1>
        </div>

        <div>
            <p>published: 05.10.2017, 9:28</p>
            <h2><a href="">COSC</a></h2>
            <p>We are looking for new minds.<br>
Come, join the community.<br>
Be part of the movement.<br></p>
        </div>

        <div>
            <p>published:05.10.2017 , 9.30</p>
            <h2><a href="">Community Agenda</a></h2>
            <p>• GIT : Initiating college level github organisations to spread awareness about its benefits and utilities.<br>

• Organising two hands-on workshops per semester aimed at training students to build open source tools and applicationsbr


• Guest lectures : Inviting experts in various fields to conduct guest lectures for students.<br>

• Project-Cell : Forming project cells with the purpose of enabling teams of students to solve real world problems through applications .<br>

• Hackathon : Conducting intensive one day hackathons for building open source applications.<br></p>
        </div>
    </body>
</html>
